<h1 class="text-center mb-4"><%= @user.first_name %> ! This is your private page</h1>
<h4 class="text-center"> Your personnal infos :</h4>
<div class="d-flex justify-content-center">
    <div class="card border-0 mb-5" style="width: 18rem;">
        <%= image_tag("", :alt => "", :class => "style_img") %>
        <div class="card-body">
            <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
            <p class="card-text">About me : <%= @user.description %></p>
            <p class="card-text">Email adress : <%= @user.email %></p>
        </div>
    </div>
</div>

<h4 class="text-center mt-5"> Here you can view all of your created events: </h4>

<div id="section_cards">
    <% current_user.events.each do |event| %>
        <div id="section_cards">
            <div class="card border-0" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= event.title %></h5>
                    <a><%=link_to "Show details", event_path(event.id), :class => "lien_read" %></a>
                    <p id="created_on" class="card-text">Created on <%= event.created_at%> by <%= current_user.first_name %></p>  
                </div>
            </div>
        </div>
    <% end %>
</div>